*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0px;
}

/* BANNER SECTION */

.banner-section{
    display: flex;
    /* justify-content: space-between; */
    margin-left: 70px;
    margin-right: 70px;
}
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.banner-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 23px;
}
.banner{
    /* margin-left: 70px; */
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 250px;
}
.picture{
    margin-bottom: 0px;
    /* margin-right: 70px; */
    margin-top: 40px;
    margin-left: 0px;
}
.header{
    background-color:rgba(229, 84, 115, 0.10);
}

/* FEATURED SECTION */

.featured{
    text-align: center;
    margin-top: 178px;
}
.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.featured-picture{
    display: flex;
    justify-content: space-around;
    margin: 70px 120px;
    margin-bottom: 0px
}
.featured-row-one{
    padding: ;
}
.featured-row-three{
    margin-bottom: 48px;
}
.flower-name{
    text-align: center;
    text-decoration-line: underline;
}
.featured-row-one{
    border-radius: 300px 300px 0px 0px; 
    background: rgba(167, 33, 98, 0.15);
}
.featured-row-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(240, 77, 140, 0.15);
}
.featured-row-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-row-one,.featured-row-two,.featured-row-three{
    width: 400px;
    height: 500px;
}
.name{
    display: flex;
    justify-content: space-around;
    margin: 70px 120px;
    margin-top: -20px
}
.pic-2{
    padding-left: 80px;
    padding-top: 40px;
    width: 250px;
    height: 360px;
    margin-top: 100px;
}
.pic-1,.pic-3{
    padding-left: 80px;
    padding-top: 40px;
    width: 250px;
    height: 360px;
    margin-top: 100px;
}

/* HOT-DEAL SECTION */

.hot-section{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background:rgba(229, 84, 115, 0.10);
}
.hot-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.hot-deal{
 text-align: center;
 margin: 130px 0px 330px 250px;
 
}
.hot-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 38px;
}
.color{
    color: #E55473;
}
.hot-picture{
    margin: 100px 300px 100px 50px;
}

/* INSTRAGRAM SECTION */

.instragram{
    text-align: center;
    margin: 200px 300px;
    margin-bottom: 48px;
    margin-top: 80px;
}
.instragram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.instragram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    
}
.instragram-picture{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 128px;
}

/* UPDATE SECTION */

.update-section{
    margin-top: 128px;
    margin-right: 100px;
    margin-bottom: 128px;
    margin-left: 100px;
    background-image: url('../images/Rectangle\ 9.png');
    height: 449px;
    width: 1440px;
    background-repeat: no-repeat;
}
.update{
    padding-top: 100px;
    text-align: center;
}
.update-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.update-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.up-box{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    flex-shrink: 0;
}
.up-button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 25px;
    position: right;
}

/* FOOTER SECTION */

.footer-section{
    height: 449px;
    width: 1700px;
    text-align: center;
    background-color: #272727;
    /* margin-top: 200px; */
}
.footer-tile{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}
.footer-idk{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;

}
.footer-div{
    padding-top: 70px ;
}
/* EXTRA SECTION */

.extra-div{
   display: flex;
    /* text-align: center; */
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
}
.extra-section{
    background-color: #8a273c;
    width: 1700px;
}
.extra-description, .extra-title{
    color: #FFFFFF;
}
.extra-title{
    text-decoration: solid;
    text-decoration: underline;
}
